html,body{
	text-align: center;
}

#main{
	padding: 50px;
	background: #B5DBF8;
}

#image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}

.resize{
	max-width: 50%;
	height:auto;
}

.books{
	width: 125px;
	height: 175px;
	position: relative;
	left: 50px;
}
